body {
  background-image: url("Ressources/background.jpg");
  font-family: Century;
  scroll-behavior: smooth;
}

/* index.html */

/* Partie Menu */

.Menu {
  position: absolute;
  top: 30%;
  left: 1%;
  right: 78%;
  bottom: 15%;
  border: 10px solid #F0F0FF;
  border-radius: 10px;
  box-shadow: 0 .25em .5em #CCC, inset 0 0 1em .25em #CCC;
  overflow: hidden;
  color: white;
}

#repas {
  text-align: center;
  font-size: 115%;
}

#assiette{
  position: absolute;
  top: 25%;
  left: 0%;
  width: 8vw;
  height: 11vh;

}

/* Ateliers */
.Ateliers {
  position: absolute;
  top: 30%;
  bottom: 15%;
  left: 65%;
  right: 1%;
  overflow: hidden;
  border: 10px solid #F0F0FF;
  border-radius: 10px;
  box-shadow: 0 .25em .5em #CCC, inset 0 0 1em .25em #CCC;
  color: white;
}

#messages-container {
  text-align: center;
  font-size: 140%;
  animation: Ateliers 65s linear infinite;
}

@keyframes Ateliers {
  0% {
    transform: translateY(+10%);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* Partie prof absent */

.ProfAbs {
  position: absolute;
  top: 58%;
  bottom: 15%;
  left: 23%;
  right: 37%;
  border: 10px solid #F0F0FF;
  border-radius: 10px;
  box-shadow: 0 .25em .5em #CCC, inset 0 0 1em .25em #CCC;
  max-height: 200px; /* Hauteur maximale pour afficher le contenu sans défilement */
  overflow-y: auto; /* Ajoute une barre de défilement verticale lorsque le contenu dépasse la hauteur maximale */
  color: white;
}

#scrollable {
  text-align: center;
  font-size: 140%;
}

#absent{
  position: absolute;
  top: 58%;
  left: 24%;
  width: 8vw;
  height: auto;
}

/* Évenements */

.JPOs {
  position: absolute;
  top: 30%;
  bottom: 45%;
  left: 23%;
  right: 37%;
  overflow: hidden;
  border: 10px solid #F0F0FF;
  border-radius: 10px;
  box-shadow: 0 .25em .5em #CCC, inset 0 0 1em .25em #CCC;
  color: white;
  text-align: center;
}

#jpo {
  overflow-y: scroll;
  font-size: 140%;
  animation: JPOs 10s linear infinite;
}

#jpoimage{
  position: absolute;
  top: 25%;
  left: 22%;
  width: 10vw;
  height: 12vh;
}

@keyframes JPOs {
  0% {
    transform: translateY(+190%);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* Diaporama */

main {
  width: 90%;
  margin: auto;
}

.diapo {
  position: absolute;
  overflow: hidden;
  bottom: 75%;
  left: 16%;
  right: 16%;
}

#nav-droite,
#nav-gauche {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  font-size: 3%;
}

#nav-droite {
  right: 20%;
}

#nav-gauche {
  left: 20%;
}

.elements {
  display: flex;
  transition: 1s linear;
}

.element {
  flex: 1 0 100%;
  position: relative;
}

.element>img {
  width: 100%;
}

.caption {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 30%;
}

/* logo saint-eloi */

.logo-Saint-Eloi img {
  position: absolute;
  top: 0%;
  left: 2%;
  width: 12vw;
  height: auto;
  }

/* Message en bas */

.foot {
  position: absolute;
  top: 86%;
  bottom: 1%;
  left: 1%;
  right: 1%;
  border: 10px solid #F0F0FF;
  border-radius: 30px;
  box-shadow: 0 .25em .5em #CCC, inset 0 0 1em .25em #CCC;
  overflow: hidden;
  font-size: 150%;
}

.foot>div {
  display: inline-block;
  padding-left: 100%;
  white-space: nowrap;
  animation: foot 15s infinite linear;
  cursor: pointer;
}

.msg {
  font-size: 150%;
  line-height: 2em;
  text-align: center;
  color: white;
}

#news{
  position: absolute;
  top: 76%;
  left: 0%;
  width: 10vw;
  height: auto;
}

@keyframes foot {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

#meteomessage{
  position: relative;
  font-size: 110%;
  font-family: 'Century Gothic';
  font-weight: bold;
}

.meteo {
  position: absolute;
  top: 1%;
  right: 0;
  width: 14vw;
  height: 21vh;
  border: 10px solid #F0F0FF;
  border-radius: 30px;
  box-shadow: 0 .25em .5em #CCC, inset 0 0 1em .25em #CCC;
}

#date-time {
  position: relative;
  font-size: 130%;
  font-weight: bolder;
  font-family: 'Century Gothic';
}

/* back.html */

/* titres */

.titre5 {
  font-size: 150%;
  position: absolute;
  top: 45%;
  left: 33%;
  color: white;
}

/* Texte */

.Messagesb {
  position: absolute;
  top: 50%;
  left: 32.55%;
  right: 55%;
  width: 30%;
  padding-bottom: 10%;
  font-size: 140%;
}

/* Bouton */

.bouton {
  position: absolute;
  top: 77%;
  left: 43%;
  right: 55%;
  width: 10%;
  height: 10%;
  font-size: 150%;
}

#href{
  color: white;
}



